@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* body>div {
  border: 2px solid;
} */

/* .layout-div {
  border: 2px solid red;
} */

.footer-div {
  margin-top: auto;
}

.bg-blue-gradiant {
  background: url("https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg");
}

.bg-semi-blue-gradiant {
  background: url("https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg");
  background-color: #c2e4ff;
}

.bg-dark-blue-gradiant {
  background: url("https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg");
  background-color: #0373C6;
}

.container {
  width: 83.333333%;
  margin-inline: auto;
}

@media (max-width: 640px) {
  .container {
    width: 91.666667%;
  }
}